/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}

.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > a:hover,
.nav-sidebar > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */
.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

.imgbox {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 0px;
  margin-right: 5px;
  margin-left: auto;
  line-height: 1.42857143;
  background-color: rgb(255, 255, 255);
/*   border: 1px solid rgb(221, 221, 221); */
/*   aborder-radius: 4px; */
/*   box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075); */
  padding: 4px;
}

.imgbox-focus > div > img {
   box-shadow: 0 1px 2px #2878D4;
}