<nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <ol class="breadcrumb">
                <li *ngFor="let parent of tree.parents"><button type="button" class="btn btn-link" (click)="goTo(parent.path)">{{parent.name}}</button></li>
                <li>
                    <button type="button" class="btn btn-link" (click)="goTo(tree.current.path)">{{tree.current.name}}</button>
                </li>
            </ol>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li *ngFor="let child of tree.childFolders">
                    <a href="#" (click)="goTo(child.path)">{{child.name}}</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-7 col-md-9 main">
            <tp-image-grid [images]="tree.images" [setting]="imageGridSetting" (imageClicked)="onImageClicked($event)"></tp-image-grid>
        </div>
        <div class="col-sm-2 col-md-1 container-bar">
            <div *ngFor="let container of containers">
                <tp-image-container [container]="container"></tp-image-container>
            </div>
        </div>
    </div>
</div>